@model List<Nhom04_Jewelry.Models.Product>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="text-center">

    <h4 class="fw-bold pt-3"><i class="fa fa-diamond" aria-hidden="true"></i> Xu hướng mới <i class="fa fa-diamond" aria-hidden="true"></i></h4>

</div>
<div class=" text-center" style="background-color: white">
    <div class="d-flex flex-wrap justify-content-center container">
        @for (var i = 0; i < Model.Count; i++)
        {
            <div class="card m-3 col-3" style="width: 15rem; height: 25rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <img src="~/Img/@Model[i].Images" class="image card-img-top">
                <div class="overlay" style="background-color: #EEF5FF">
                    <img src="~/Img/@Model[i].Imagess" class="image card-img-top">
                    <div class="card-body my-0">
                        <h5 class="card-title">@Model[i].ProductName</h5>
                        <h6 class="card-text mb-2 text-body-secondary fw-bold">$ @Model[i].Price</h6>
                        <a href="#" class="btn mx-2 btn1" style="border:none"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="/products/detail/@Model[i].ProductID" style="border:none;" class="btn btn1 mx-2 "><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="card-body my-0">
                    <h5 class="card-title">@Model[i].ProductName</h5>
                    <h6 class="card-text mb-2 text-body-secondary fw-bold">$ @Model[i].Price</h6>
                    <a href="#" class="btn mx-2 btn1" style="border:none"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    <a href="/products/detail/@Model[i].ProductID" style="border:none;" class="btn btn1 mx-2 "><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                </div>
            </div>
            if (i == 7) { break; }

        }
    </div>
</div>
<div  style="background-color: #FCEAF0">
    <div class="container my-3">
        <div class="row py-4">
            @for (int i = ViewBag.rand; i < Model.Count; i++)
            {

                <div class="col d-flex justify-content-center">
                    <img style="width:53%;background-color:white" src="~/Img/@Model[i].Images" />
                </div>
                <div class="col">
                    <table class="table">
                        <tr>
                            <th>@Model[i].ProductName</th>
                        </tr>
                        <tr>
                            <th>Giá: @Model[i].Price</th>
                        </tr>
                        <tr>
                            <th>Loại: @Model[i].Category.CategoryName</th>
                        </tr>
                        <tr>
                            <th>@Model[i].Descriptions</th>
                        </tr>
                    </table>
                    <a class="btn btn-outline-primary fw-bold border-0" href="/products/detail/@Model[i].ProductID">Xem ngay</a>
                </div>
                <div class="col-1"></div>
                break;
            }
        </div>
    </div>
</div>
<div class="text-center">
    <h4 class="fw-bold pt-3"><i class="fa fa-diamond" aria-hidden="true"></i> Bán chạy <i class="fa fa-diamond" aria-hidden="true"></i></h4>
</div>
<div class=" text-center" style="background-color:white">
    <div class="d-flex flex-wrap justify-content-center container">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="card m-3 col-3" style="width: 15rem; height: 25rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <img src="~/Img/@Model[i].Images" class="image card-img-top">
                <div class="overlay" style="background-color: #EEF5FF">
                    <img src="~/Img/@Model[i].Imagess" class="image card-img-top">
                    <div class="card-body my-0">
                        <h5 class="card-title">@Model[i].ProductName</h5>
                        <h6 class="card-text mb-2 text-body-secondary fw-bold">$ @Model[i].Price</h6>
                        <a href="#" class="btn mx-2 btn1" style="border:none"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="/products/detail/@Model[i].ProductID" style="border:none;" class="btn btn1 mx-2 "><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="card-body my-0">
                    <h5 class="card-title">@Model[i].ProductName</h5>
                    <h6 class="card-text mb-2 text-body-secondary fw-bold">$ @Model[i].Price</h6>
                    <a href="#" class="btn mx-2 btn1" style="border:none"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    <a href="/products/detail/@Model[i].ProductID" style="border:none;" class="btn btn1 mx-2 "><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                </div>
            </div>
            i = i + 1;
            if (i >= 14) { break; }
        }
    </div>
</div>
<div style="background-color: #FCEAF0">
    <div class="container my-3">
        <div class="row py-4">
            @for (int i = ViewBag.rand + 1; i < Model.Count; i++)
            {
                <div class="col-1"></div>
                <div class="col">
                    <table class="table text-end">
                        <tr>
                            <th>@Model[i].ProductName</th>
                        </tr>
                        <tr>
                            <th>Giá: @Model[i].Price</th>
                        </tr>
                        <tr>
                            <th>Loại: @Model[i].Category.CategoryName</th>
                        </tr>
                        <tr class="text-start">
                            <th>@Model[i].Descriptions</th>
                        </tr>
                    </table>
                    <a class="btn btn-outline-primary fw-bold border-0 float-end" href="/products/detail/@Model[i].ProductID">Xem ngay</a>
                </div>
                <div class="col d-flex justify-content-center">
                    <img style="width:53%;background-color:white" src="~/Img/@Model[i].Images" />
                </div>
                break;
            }
        </div>
    </div>
</div>

